<app-search-form (onSearchFinished)="onSearchFinished($event)" (changeLoadingState)="changeLoadingState($event)">
</app-search-form>
<div class="pull-right">
  <p>Filters by type:
    <button class="btn btn-default" [ngClass]="{'btn-primary': type === 'all'}" [routerLink]="[]" [queryParams]="{ term: term, type: 'all'}">all</button>
    <button class="btn btn-default" [ngClass]="{'btn-primary': type === 'photo'}" [routerLink]="[]" [queryParams]="{ term: term, type: 'photo' }">photos</button>
    <button class="btn btn-default" [ngClass]="{'btn-primary': type === 'illustration'}" [routerLink]="[]" [queryParams]="{ term: term, type: 'illustration' }">illustrations</button>
    <button class="btn btn-default" [ngClass]="{'btn-primary': type === 'vector'}" [routerLink]="[]" [queryParams]="{ term: term, type: 'vector' }">vector-graphics</button>
  </p>
</div>
<br>
<h3>Search results:</h3>
<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
<p class="bg-danger" *ngIf="isNoResult">No result found!</p>
<app-search-result [results]="photos"></app-search-result>