<app-search-form 
  (onSearchFinished)="onSearchFinished($event)" 
  (changeLoadingState)="changeLoadingState($event)">
</app-search-form>
<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
<br>
<p>Filters by type:
  <button class="btn btn-default" (click)="searchByType('photo')">photos</button>
  <button class="btn btn-default" (click)="searchByType('illustration')">illustrations</button>
  <button class="btn btn-default" (click)="searchByType('vector')">vector-graphics</button>
</p>
<router-outlet></router-outlet>
<p class="bg-danger" *ngIf="isNoResult">No result found!</p>
<app-search-result [results]="photos"></app-search-result>
